

.chiri_home_bgcolor{
    background: linear-gradient(to right, #520237 10%, #440035);

    padding: 2px;
}

li{
    display: inline-block;
    margin: 0px;
    line-height:80px;
    margin:3px;
    color: whitesmoke;
    font-size:large;
    font-weight: bold;
    margin-left:5%;
}






