.chiri_home_bgcolor{
    background-color: rgb(1, 20, 29);

    padding: 2px;
}

li{
    display: inline-block;
    margin: 0px;
    line-height:80px;
    margin:3px;
    color: whitesmoke;
    font-size:large;
    font-weight: bold;
    margin-left:5%;
}

.carousel{
    height:50%;
}
