{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="card">
    <div class="card-body login_page_box p-5">
        

        <form action="" method='post'>
            <label class="input_box"><input type="text" placeholder="username"></label>
            <br><label><input type="password" placeholder="password"></label>
        </form>
       
        <button class="login_button mb-5 mt-3" style="width:40%; height:8vh;">Submit</button>
    </div>
     
  </div>

{% endblock %}

