{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="card ">
    <div class="card-body login_page_box">
        

        <form action="register" method='post'>
            {% csrf_token %}
            <br><input type="text" name="first_name" placeholder="first name"><br>
            <br><input type="text" name="last_name" placeholder="last name"><br>
            <br><input type="text" name="username" placeholder="username"><br>
            <br><input type="password" name="password1" placeholder="password"><br>
            <br><input type="password" name="password2" placeholder="confirm password"><br>
            <button class="login_button mb-5 mt-3" style="width:40%; height:8vh;">Submit</button>
        </form>
        
    </div>
    
  </div>

  <div>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
</div>

{% endblock %}
